<section class="bg-gray-100 pt-10 lg:pb-10" x-data="{
    sectionTitle: 'You may be interested in',
    items: [],
    swiper: null,
    async init() {
        await this.getItems();
        await this.initSwiper();
    },
    async getItems () {
        try {
            this.items = await (await fetch('{{site.baseurl}}/api/recommendations.json')).json();
        } catch (error) {
            console.log(error)
        }
    },
    async initSwiper() {
        this.swiper = new Swiper('.swiperRecommendations', {
            slidesPerView: 2,
            spaceBetween: 2,
            loop: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    }
}">
    <div class="flex flex-col lg:flex-row justify-center items-center lg:items-stretch">
        <div class="max-w-122 lg:max-w-[40%] 2xl:max-w-[34%] px-4 lg:px-10">
            <img src="{{ site.baseurl }}/assets/img/recommendations.jpg" alt="" class="w-full h-full object-cover" loading="lazy">
        </div>
        <div class="contents lg:block w-full lg:max-w-[60%] 2xl:max-w-[66%] lg:-mt-2">
            <h2 class="-order-1 lg:order-none mb-6 lg:mb-0 px-4 lg:p-0 text-3xl font-light uppercase tracking-wider text-blue-950 text-center lg:text-start" x-text="sectionTitle"></h2>
            <div class="swiperRecommendations swiper w-full mt-6">
                <div class="swiper-wrapper bg-white">
                    <template x-for="item in items">
                        <div class="swiper-slide bg-gray-100">
                            <a :href="item.url" class="group/item" x-data="{
                                changeVariant(code) {
                                    const variant = this.findInVariants(code);
                                    item = { ...item, ...variant };
                                },
                                findInVariants( variantCode ) {
                                    return item.variants.find( variant => variant.colorCode === variantCode )
                                }
                            }">
                                <template x-if="item.imgs && item.imgs.length === 1">
                                    <img :src="item.imgs[0]" :alt="item.variants" loading="lazy">
                                </template>
                                <template x-if="item.imgs && item.imgs.length === 2">
                                    <div class="relative group/img">
                                        <img :src="`{{ site.baseurl }}${item.imgs[0]}`" :alt="item.name" class="block" loading="lazy">
                                        <img :src="`{{ site.baseurl }}${item.imgs[1]}`" :alt="item.name" class="absolute inset-0 w-full h-full opacity-0 group-hover/img:opacity-100 transition-opacity duration-300" loading="lazy">
                                    </div>
                                </template>
                                <template x-if="item?.variants.length > 1">
                                    
                                    <div class="p-4 text-blue-950">
                                        <div x-text="item.name" class="uppercase"></div>
                                        <div x-text="formattedPrice(item.price)"></div>

                                        <div class="mt-2">
                                            <span x-text="item.variants.length + item.variantsText" class="flex items-center text-sm h-8 group-hover/item:hidden"></span>
                                            
                                            <ul class="flex-wrap gap-x-1 gap-y-1 hidden group-hover/item:flex">
                                                <template x-for="variant in item.variants">
                                                    <li>
                                                        <button @click.prevent="if (item.colorCode !== variant?.colorCode) changeVariant(variant.colorCode)" :title="variant.name" class="block p-[1px] rounded-full border-1 border-blue-950 " :class="{
                                                            'border-blue-950 cursor-default': item.colorCode === variant?.colorCode,
                                                            'border-gray-300 cursor-pointer': item.colorCode !== variant?.colorCode,
                                                        }">
                                                            <img :src="variant?.imgUrl" :alt="variant?.name" class="size-7 rounded-full object-cover" loading="lazy">
                                                        </button>
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
                                    </div>
                                </template>
                            </a>
                        </div>
                    </template>
                </div>

                <div class="swiper-button-prev after:hidden !size-12 rotate-180">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-labelledby="titlePrev" class="!size-6">
                        <path d="M9 4.5L16.5 12L9 19.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="swiper-button-next after:hidden !size-12">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-labelledby="titlePrev" class="!size-6">
                        <path d="M9 4.5L16.5 12L9 19.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>