<section class="{{ include.sectionClass }}" x-data="{
    allVariants: {},
    dialog: null,
    selectedVariant: {
        id: null,
        props: {}
    },
    variants: {},
    async getAllVariants() {
        try {
            this.allVariants = await (await fetch('{{site.baseurl}}/api/sizeVariants.json')).json();
            this.selectedVariant = this.getInitVariant();
            this.updateProductSku();
            this.updateProductAvailability();
            this.variants = this.getUniqueVariants();
        } catch (error) {
            console.log(error)
        }
    },
    getUniqueVariants() {
        this.unique = {};
        
        for (const key in this.allVariants) {
            const { props } = this.allVariants[key];
            for (const key in props) {
                if (!this.unique[key]) {
                    this.unique[key] = new Set();
                }
                this.unique[key].add(props[key])
            }
        }
        for (const prop in this.unique) {
            this.unique[prop] = [...this.unique[prop]];
        }
        return this.unique;
    },
    getInitVariant() {
        const params = new URLSearchParams(window.location.search);
        let id = params.get('variant') || Object.keys(this.allVariants)[0];
        const { props, sku } = this.allVariants[id];
        updateUrlParams('variant', id);
        return {
            id,
            props
        };
    },
    changeVariant(propKey, propNewVal) {
        const match = this.findInVariants(propKey, propNewVal);
        const [id, { props, sku }] = match;
        this.selectedVariant = {
            id,
            props
        }
        updateUrlParams('variant', id);
        this.updateProductSku();
        this.updateProductAvailability();
    },
    isAvailable(propKey, propNewVal) {
        return this.findInVariants(propKey, propNewVal)[1]?.available;
    },
    findInVariants(propKey, propNewVal) {
        const { props: variantProps } = this.allVariants[this.selectedVariant.id];
        const props = {...variantProps};
        props[propKey] = propNewVal;
        return Object.entries(this.allVariants).find(([, item]) => Object.entries(props).every(([key, val]) => item.props?.[key] === val) );
    },
    updateProductSku() {
        this.$dispatch('update-sku', this.allVariants[this.selectedVariant.id]?.sku);
    },
    updateProductAvailability(isAvailable) {
        const { id } = this.selectedVariant;
        const { available } = this.allVariants[id];
        this.$dispatch('update-product-availability', available);
    }
}"  x-init="getAllVariants()">
    <div class="py-2 px-4 bg-gray-50">
        <div class="text-gray-600 text-sm">Selected</div>
        <ul class="flex justify-between mt-2 text-lg text-blue-950">
            <li>Size: <strong x-text="selectedVariant?.props.size">-</strong> </li>
            <li>Width: <strong x-text="selectedVariant?.props.width">-</strong> </li>
            <li>Toe + Heel: <strong x-text="selectedVariant?.props.toe_heel">-</strong> </li>
        </ul>
    </div>

    <button @click="showModal(dialog)" class="flex justify-between items-center w-full border border-blue-950 p-4 bg-white text-blue-950 text-sm uppercase cursor-pointer"  x-cloak>
        <span>Choose size</span>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="size-6 stroke-current fill-none">
                <path d="M9 4.5L16.5 12L9 19.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </span>
    </button>

    {% include productVariantsDialog.html %}
    
</section>