<dialog x-init="dialog = $el" @click="hideModal(dialog)" class="m-auto me-0 max-h-full h-full">
    <div @click.stop class="flex flex-col w-full h-full sm:w-104 bg-white">
        <header class="flex justify-between flex-wrap items-center p-4 pb-0">
            <span class="text-xl font-light uppercase tracking-wider">Choose size</span>
            <button @click="hideModal(dialog)" class="flex justify-between items-center cursor-pointer text-blue-950">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-hidden="true" class="size-6 stroke-current stroke-1">
                    <path d="M18.75 5.25L5.25 18.75" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M18.75 18.75L5.25 5.25" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </button>
            <hr class="mt-4 border-gray-300 w-full">
        </header>
    
        <main class="p-4">

            <section class="my-6">
                <div class="flex items-center flex-wrap gap-4 mb-4">
                    <span>Size:</span>
                    <button class="cursor-not-allowed">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" class="size-6 text-blue-950">
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke-linecap="round" stroke-linejoin="round" class="stroke-current"></path>
                            <path d="M11.25 11.25H12V16.5H12.75" stroke-linecap="round" stroke-linejoin="round" class="stroke-current"></path>
                            <path d="M11.8125 9C12.4338 9 12.9375 8.49632 12.9375 7.875C12.9375 7.25368 12.4338 6.75 11.8125 6.75C11.1912 6.75 10.6875 7.25368 10.6875 7.875C10.6875 8.49632 11.1912 9 11.8125 9Z" class="fill-current"></path>
                        </svg>
                    </button>
                    <ul class="flex items-center ms-auto [&>li:not(:last-child)]:me-4 [&>li:not(:last-child)]:pe-4 [&>li:not(:last-child)]:border-e [&>li:not(:last-child)]:border-gray-300">
                        <li>
                            <button class="flex items-center justify-center flex-wrap gap-1 cursor-not-allowed">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" role="img" aria-hidden="true" class="size-4 stroke-blue-950">
                                        <path d="M10.1446 1.85269L1.8538 10.1435C1.65854 10.3388 1.65854 10.6554 1.8538 10.8506L5.14671 14.1435C5.34197 14.3388 5.65855 14.3388 5.85381 14.1435L14.1446 5.8527C14.3399 5.65744 14.3399 5.34086 14.1446 5.1456L10.8517 1.85269C10.6565 1.65743 10.3399 1.65743 10.1446 1.85269Z" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M8.25 3.75L10.25 5.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M6 6L8 8" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M3.75 8.25L5.75 10.25" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span>Fit guide</span>
                            </button>
                        </li>
                        <li>
                            <button class="flex items-center justify-center flex-wrap gap-1 cursor-not-allowed">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none" role="img" aria-hidden="true" class="size-4 stroke-blue-950">
                                        <path d="M6 4.5C6 3.96957 6.21071 3.46086 6.58579 3.08579C6.96086 2.71071 7.46957 2.5 8 2.5C8.53043 2.5 9.03914 2.71071 9.41421 3.08579C9.78929 3.46086 10 3.96957 10 4.5L1.2 11.1C1.11605 11.163 1.05403 11.2507 1.02274 11.3509C0.991453 11.4511 0.992473 11.5586 1.02566 11.6581C1.05884 11.7577 1.12251 11.8443 1.20764 11.9056C1.29278 11.967 1.39506 12 1.5 12H14.5C14.6049 12 14.7072 11.967 14.7924 11.9056C14.8775 11.8443 14.9412 11.7577 14.9743 11.6581C15.0075 11.5586 15.0085 11.4511 14.9773 11.3509C14.946 11.2507 14.884 11.163 14.8 11.1L8 6" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                                <span>Size chart</span>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="flex items-center flex-wrap justify-center items-center gap-2 text-blue-950 my-2 py-2 bg-gray-50 text-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 16" fill="none" role="img" aria-hidden="true" class="size-4 stroke-current">
                            <path d="M11 3H13.5V5.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 6.5L13.5 3" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M6 13H3.5V10.5" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7 9.5L3.5 13" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M13.5 10.5V13H11" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M10 9.5L13.5 13" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3.5 5.5V3H6" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M7 6.5L3.5 3" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </span>
                    <span>Order a half size up for a wider fit</span>
                </div>
                <ul class="flex flex-wrap gap-4">
                    <template x-for="variant of variants.size">
                        <li>
                            {% include productVariantBtn.html elem="size" %}
                        </li>
                    </template>
                </ul>
            </section>

            <section class="my-6">
                <div class="flex items-center gap-4 mb-4">
                    <span>Width:</span>
                    <button class="cursor-not-allowed">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" class="size-6 text-blue-950">
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke-linecap="round" stroke-linejoin="round" class="stroke-current"></path>
                            <path d="M11.25 11.25H12V16.5H12.75" stroke-linecap="round" stroke-linejoin="round" class="stroke-current"></path>
                            <path d="M11.8125 9C12.4338 9 12.9375 8.49632 12.9375 7.875C12.9375 7.25368 12.4338 6.75 11.8125 6.75C11.1912 6.75 10.6875 7.25368 10.6875 7.875C10.6875 8.49632 11.1912 9 11.8125 9Z" class="fill-current"></path>
                        </svg>
                    </button>
                </div>
                <ul class="flex flex-wrap gap-4">
                    <template x-for="variant in variants.width">
                        <li>
                            {% include productVariantBtn.html elem="width" %}
                        </li>
                    </template>
                </ul>
            </section>

            <section class="my-6">
                <div class="flex items-center gap-4 mb-4">
                    <span>Toe + Heel:</span>
                    <button class="cursor-not-allowed">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" class="size-6 text-blue-950">
                            <path d="M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z" stroke-linecap="round" stroke-linejoin="round" class="stroke-current"></path>
                            <path d="M11.25 11.25H12V16.5H12.75" stroke-linecap="round" stroke-linejoin="round" class="stroke-current"></path>
                            <path d="M11.8125 9C12.4338 9 12.9375 8.49632 12.9375 7.875C12.9375 7.25368 12.4338 6.75 11.8125 6.75C11.1912 6.75 10.6875 7.25368 10.6875 7.875C10.6875 8.49632 11.1912 9 11.8125 9Z" class="fill-current"></path>
                        </svg>
                    </button>
                </div>
                <ul class="flex flex-wrap gap-4">
                    <template x-for="variant in variants.toe_heel">
                        <li>
                            {% include productVariantBtn.html elem="toe_heel" %}
                        </li>
                    </template>
                </ul>
            </section>
            
        </main>
        <footer class="mt-auto border-t border-gray-300 p-4">
            <template x-if="!productIsAvailable" style="display: none">
                <div class="mb-4 p-2 bg-stone-100 text-stone-700">This item is currently <strong>in stock</strong> at our retail store. To have it delivered to your home, call the store to place your order.</div>
            </template>
            <div class="flex gap-4 ">
                <button @click="hideModal(dialog)" class="flex justify-between items-center border border-blue-950 p-4 text-blue-950 uppercase cursor-pointer">Done</button>
                {% include productAddToCartBtn.html btnClass="w-full" %}
            </div>
        </footer>
    </div>
</dialog>