<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="{{ site.baseurl }}/assets/js/app.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@6.0/dist/fancybox/fancybox.umd.js" defer></script>
    <script src="//unpkg.com/alpinejs" defer></script>
    <style>
        :root {
            --color-blue-900: #002855;
            --color-blue-950: #0C2752;
            --color-gray-400: #8F8F8F;
            --color-gray-600: #4D4D4D;
            --color-gray-300: #D9D9D9;
            --color-stone-100: #ece8df;
            --color-stone-700: #64563a;
        }
        [x-cloak] { display: none !important; }
    </style>
</head>
<body x-data="{
    sku: '',
    productPrice: '{{ page.price.value }}',
    productIsAvailable: null,
}"
@update-sku="sku = $event.detail"
@update-product-availability="productIsAvailable = $event.detail"
>

    <header>
        <div class="flex items-center max-w-screen-2xl mx-auto bg-gray-100 px-4 h-16">
            HEADER
        </div>
    </header>

    <div class="relative md:flex items-start max-w-screen-2xl mx-auto z-2">
        {% include productGallery.html sectionClass="w-full 2xl:w-[calc(50vw+768px-512px-32px)] 2xl:ms-[calc(-50vw+768px)]" imgClass="2xl:w-[calc(50vw+768px-512px-32px)]" %}
        {% include productInfo.html sectionClass="sticky top-0 w-full pt-4 md:ms-8 2xl:w-128 px-4 z-1" %}
    </div>

    {% include productSectionAccordions.html %}

    {% include productSectionRecommendations.html %}

    <footer class=" bg-blue-950 text-white">
        <div class="flex justify-center items-center max-w-screen-2xl mx-auto px-4 h-120">
            FOOTER
        </div>
    </footer>

</body>
</html>
